<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <main>
        <form action="/register" method="post">
            <div>
                 <p>
                <label for="username">Enter Username</label>
                </p>
                <input type="text" id="username" name="username" />
            </div>
            <div>
                <p>
                    <label for="first_name">Enter Your First Name</label>
                </p>
                <input type="text" id="first_name" name="first_name" />
            </div>
            <div>
                <p>
                <label for="last_name">Enter Your Last Name</label>
                </p>
                <input type="text" id="last_name" name="last_name" />
            </div>
            <div>
                <p>
                <label for="email">Enter Your Email</label>
                </p>
                <input type="email" id="email" name="email" />
            </div>
            <div>
                <p>
                <label for="password">Enter Your Password</label>
                </p>
                <input type="password" id="password" name="password" />
            </div>
            <div>
                <p>
                <label for="confirm_password">Enter Your Password Confirmation</label>
                </p>
                <input type="password" id="confirm_password" name="confirm_password" />
            </div>
            <div>
                <p>
                <label for="phone">Enter Your Phone Number</label>
                </p>
                <input type="phone" id="phone" name="phone" />
            </div>
            <div>
                <p>
               <button type="submit">
                    Submit
               </button>
               </p>
            </div>
        </form>
    </main>
    
</body>
</html>