<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <div><label for="fieldName">Upload your file here</label></div>
             <input type="file" name="fieldName" id="fieldName">
        </div>

        <div>
            <input type="submit" value="Submit" />
        </div>
        
    </form>
</body>
</html>